# OS
.DS_Store
Thumbs.db

# Editor
.idea
.vscode

# Misc

dist
build
.next
node_modules
next-env.d.ts
.vercel
out
coverage

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
coverage
.nyc_output

generated
packages/repository-service/repositories
./packages/repository-service/repositories
repository-service/repositories