* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: rgba(15, 18, 20, 0.8);
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}